<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="card-title">Datos de la agencia</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body p-2">
      <table class="table table-sm table-borderless">
        <tbody class="px-5">
          <tr>
            <td><label>Nombre:</label></td>
            <td>MATRIZ</td>
          </tr>
          <tr>
            <td><label>Teléfono:</label></td>
            <td>072-593-132</td>
          </tr>
          <tr>
            <td><label>Dirección:</label></td>
            <td>Av. Rocafuerte /e Juan Montalvo y Manule Serrano</td>
          </tr>
          <tr>
            <td><label>Ciudad:</label></td>
            <td>Machala</td>
          </tr>
          <tr>
            <td><label>Estado:</label></td>
            <td><span class="badge badge-success">Activo</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
