<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="card-title">Datos del canal</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body p-2">
      <table class="table table-sm table-borderless">
        <tbody class="px-5">
          <tr>
            <td><label>Canal:</label></td>
            <td>Llamada Atendida</td>
          </tr>
          <tr>
            <td><label>Descripción:</label></td>
            <td>-</td>
          </tr>
          <tr>
            <td><label>Extensión:</label></td>
            <td>103</td>
          </tr>
          <tr>
            <td><label>Estado:</label></td>
            <td><span class="badge badge-success">Activo</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
