<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="card-title">Datos del cliente</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body p-2">
      <table id="tblClientes" class="table table-sm table-borderless">
        <tbody class="px-5">
          <tr>
            <td><label>Identificación:</label></td>
            <td>0705855461</td>
          </tr>
          <tr>
            <td><label>Apellido:</label></td>
            <td>Jones</td>
          </tr>
          <tr>
            <td><label>Nombre:</label></td>
            <td>Doe</td>
          </tr>
          <tr>
            <td><label>Fecha de Nacimiento:</label></td>
            <td>26/05/1993</td>
          </tr>
          <tr>
            <td><label>Dirección:</label></td>
            <td>Av. Rocafuerte /e Juan Montalvo y Manule Serrano</td>
          </tr>
          <tr>
            <td><label>Ciudad:</label></td>
            <td>Machala</td>
          </tr>
          <tr>
            <td><label>Nick Redes:</label></td>
            <td>JDoes</td>
          </tr>
          <tr>
            <td><label>Socio:</label></td>
            <td><span class="badge badge-info">SI</span></td>
          </tr>
          <tr>
            <td><label>Estado:</label></td>
            <td><span class="badge badge-success">Activo</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
