<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Listado de clientes</h3>
            <div class="float-right">
              <a routerLink="./nuevo" class="btn btn-info btn-sm">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
              </a>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered table-striped" id="tblClientes">
              <thead>
                <tr>
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Ciudad</th>
                  <th class="text-center" style="width: 80px;">Socio </th>
                  <th class="text-center" style="width: 110px;">Opciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jones</td>
                  <td>Doe</td>
                  <td>San Francisco</td>
                  <td class="text-center">NO</td>
                  <td class="text-center" >
                    <div class="btn-group">
                      <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#mdlCliente">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                      <a routerLink="./editar/1" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </a>
                      <a routerLink="./eliminar/1" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>Jones</td>
                  <td>Doe</td>
                  <td>San Francisco</td>
                  <td class="text-center">NO</td>
                  <td class="text-center">
                    <div class="btn-group">
                      <button class="btn btn-info btn-sm" type="button" data-toggle="modal" data-target="#mdlCliente">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                      </button>
                      <a routerLink="./editar/1" class="btn btn-warning btn-sm">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </a>
                      <a routerLink="./eliminar/1" class="btn btn-danger btn-sm">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                      </a>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>

<div id="mdlCliente" class="modal fade">
  <app-clientes-details></app-clientes-details>
</div>
